body {
  background: rgb(46, 63, 87);
  background: linear-gradient(90deg, rgb(0, 20, 49) 0%, rgb(0, 10, 26) 42%, rgb(0, 0, 0) 100%);
}
#navbar {
  height: 60px;
}

#homeAnimeList {
  width: 760px;
  margin: 0 auto;
}
.asideTitle {
  text-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  #homeAnimeList {
    width: 600px;
  }
}
@media screen and (max-width: 640px) {
  #homeAnimeList {
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  #homeAnimeList {
    width: 320px;
  }
}
@media screen and (max-width: 350px) {
  #homeAnimeList {
    width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .mainContainer {
    max-width: 100%;
  }
}
.truncate-2-lines {
  display: -webkit-box; /* Imposta un contenitore flessibile */
  -webkit-box-orient: vertical; /* Imposta l'orientamento verticale */
  overflow: hidden;
  text-overflow: ellipsis; /* come text-truncate */
  -webkit-line-clamp: 2; /* Imposta il limite a 2 righe */
}
