body {
  background: rgb(46, 63, 87);
  background: linear-gradient(90deg, rgb(0, 20, 49) 0%, rgb(0, 10, 26) 42%, rgb(0, 0, 0) 100%);
}
#navbar {
  height: 60px;
}
.custom-col {
  flex: 0 0 20%;
  max-width: 20%;
}
